html,
body,
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    margin: 0;
}

#header {
    height: 150px;
    background-color: aqua;
}

#footer {
    height: 150px;
    background-color: greenyellow;
}

#body {
    flex: 1;
    display: flex;
    width: 100%;
}

#left-body {
    width: 400px;
    background-color: blue;
}

#right-body {
    flex: 1;
    background-color: brown;
}